// 1. Global
// ---------
$foundation-palette: (
  primary: #007,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);


// Custom
$ctn-margin: 0 auto;
$ctn-padding: 0 1rem;
$ctn-max-width: 62.5rem;
