@charset 'utf-8';

@import 'exp-setting';
@import 'foundation';

//@include foundation-everything;
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

@include foundation-button;
@include foundation-button-group;

@include foundation-table;

@include foundation-breadcrumbs;
@include foundation-card;
@include foundation-pagination;

@include foundation-menu;

.home {
  background: $primary-color;
  line-height: 420px;
  text-align: center;
}

.ctn {
  margin: $ctn-margin;
  max-width: $ctn-max-width;
  padding: $ctn-padding;
}

.icon {
  &.favor {
    color: $dark-gray;

    &.active {
      color: $primary-color;
    }
  }

  &.sort {
    cursor: pointer;
  }

  &.sort-asc,
  &.sort-desc {
    color: $primary-color;
    cursor: pointer;
  }
}

.item {
  &:hover {
    background-color: $medium-gray;
  }
}
